/*  */
.about-section {
    position: relative;
    overflow: hidden;
    background-color: #030303;
}

/* .about-image {
    height: 100%;
    min-height: 600px;
    background-image: url(../img/unloacking_digital.png);
    background-size: cover;
    background-position: center left;
} */


.about-image {
    position: relative;
}

.about-image img {
    border-radius: 20px;
}




.about-content {
    background-color: #000;
    color: #fff;
}

.about-tag {
    color: var(--accent-color) !important;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.about-title {
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

.title-underline {
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2rem;
}



.about-description {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.service-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.service-icon {
    color: var(--accent-color);
    margin-right: 10px;
    font-size: 1.2rem;
}

.globe-image {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 150px;
    opacity: 0.7;
}

@media (max-width: 991px) {
    .about-image {
        min-height: 400px;
    }

    .projects-counter {
        position: relative;
        transform: none;
        bottom: auto;
        left: auto;
        margin: 2rem auto;
        width: 80%;
    }

}


/*  */

.section-title {
    position: relative;
    display: inline-block;
    font-weight: 800;
    color: #333;
    margin-bottom: 50px;
}

.section-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
}

.founder-section {
    padding: 80px 0;
    overflow: hidden;
}

.founder-img-container {
    position: relative;
    height: 100%;
}

.founder-img-section {
    /* We'll control this with JS */
    width: 100%;
}

.founder-img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    display: block;
}

.founder-name {
    font-weight: 700;
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.founder-title {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.founder-bio {
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.quote {
    font-style: italic;
    font-size: 1.3rem;
    margin-bottom: 30px;
    padding-left: 15px;
    border-left: 3px solid var(--accent-color);
}


/* .founder-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill-item {
    display: inline-block;
    background: #f8f9fa;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #333;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.skill-item:hover {
    background: var(--highlight-color);
    color: white;
} */

.quote {
    font-style: italic;
    color: #777;
    border-left: 3px solid var(--accent-color);
    padding-left: 20px;
    margin: 30px 0;
    background-color: #FFF4D0;
    padding: 5px;
}



.seven-years {
    position: absolute;
    max-height: 480px;
    top: 0;
    z-index: 5s;
    right: 0;
}

/*  */


.counter {
    font-size: 23em;
    font-weight: bold;
    transition: color 0.5s ease;
}

.counter-section {
    position: relative;
    gap: 20px;
    display: flex;
}

.counter-section .projects-counter {
    /* position: absolute;
    top: 20%;
    right: 0;
    rotate: 90deg; */
    /* left: 50%; */
    /* transform: translate(-25%, -50%) !important; */

    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px 10px;
    background-color: var(--darker-bg);
    writing-mode: sideways-rl;
    text-align: center;
    margin-top: -80px;
}


.counter-section .projects-counter .counter-text {
    font-size: 21px;
    color: white;
    font-weight: 900;
    font-family: 'Inter', sans-serif;

}